html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.section-1 {
  height: 100vh;
  background-color: red;
}
.section-2 {
  height: 90vh;
  background-color: blue;
}
.card {
  background-color: white;
  margin: 2rem auto;
  width: 30vw;
  height: 55rem;
}
h2 {
  font-size: 4rem;
}
